.title {
    -unity-font-style: bold;
    font-size: 15px;
    -unity-text-align: upper-center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
