
UOP1_Project/Packages/packages-lock.json
UOP1_Project/ProjectSettings/PackageManagerSettings.asset
UOP1_Project/ProjectSettings/Packages/com.unity.polybrush/Settings.json
UOP1_Project/ProjectSettings/Packages/com.unity.probuilder/Settings.json
UOP1_Project/ProjectSettings/Packages/com.unity.progrids/Settings.json
UOP1_Project/ProjectSettings/ProjectVersion.txt
UOP1_Project/ProjectSettings/URPProjectSettings.asset
