[*.cs]

# SonarLint
dotnet_diagnostic.S1104.severity = none
dotnet_diagnostic.S3903.severity = error

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = error

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = error

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = error

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# SA1407: Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = error

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = error

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = error
