[*.cs]
indent_style = tab
indent_with_tabs = 2
align_with_tabs = true
align_keep_tabs = true
insert_final_newline = true
trim_trailing_whitespace = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_between_query_expression_clauses = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_case_contents_when_block = false
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
csharp_using_directive_placement = outside_namespace

# SonarLint
dotnet_diagnostic.S1104.severity = none
dotnet_diagnostic.S3903.severity = error

# StyleCop

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = error

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = error

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = error

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# SA1407: Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = error

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = error

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = error

# SA1019: Member access symbols should be spaced correctly
dotnet_diagnostic.SA1019.severity = error

# SA1027: Use tabs correctly
dotnet_diagnostic.SA1027.severity = none

# SA1519: Wrap with brases
dotnet_diagnostic.SA1519.severity = error